<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Alejandrof" />
        <title>E3 From Home </title>
        <link rel="icon" href= "templates/images/E3_Logo.png" />
    </head>

    <body>
        <h1>ERROR 404: NOT FOUND</h1>
    </body>
</html>