{% extends "/html/base.html.twig" %}

{% block head %} 
<link rel="stylesheet" href="templates/css/portada.css" />
{% endblock %}

{% block main %}
<section class="eventsGrid">
    <div class="evento">
        <a href="/evento.php?ev=playstation"><img src="templates/images/play-logo.png" alt="Logo PlayStation" id="PlayStation"/></a>
        <h2>Sony</h2>
    </div>
    <div class="evento">
        <a href="/evento.php?ev=xbox"><img src="templates/images/xbox-logo.png" alt="Logo Xbox" id="Xbox"/></a>
        <h2>Microsoft</h2>
    </div>
    <div class="evento">
        <a href="https://www.devolverdigital.com/"><img src="templates/images/devolver-logo.png" alt="Logo Devolver Digital" id="Devolver"/></a>
        <h2>Devolver</h2>
    </div>
    <div class="evento">
        <a href="https://bethesda.net/"><img src="templates/images/bethesda-logo.png" alt="Logo Bethesda" id="Bethesda"/></a>
        <h2>Bethesda</h2>
    </div>
    <div class="evento">
        <a href="https://www.ubisoft.com/en-us/"><img src="templates/images/ubisoft-logo.png" alt="Logo Ubisoft" id="Ubisoft"/></a>
        <h2>Ubisoft</h2>
    </div>
    <div class="evento">
        <a href="https://www.nintendo.com/"><img src="templates/images/nintendo-logo.png" alt="Logo Nintendo" id="Nintendo"/></a>
        <h2>Nintendo</h2>
    </div>
</section>

{{ parent() }}
{% endblock %}