/* Estilos para los elementos comunes (cabecera, aside y pie de página */
.cabecera{
    overflow: auto;
    padding-top: 0%;
    padding-bottom: 1%;
    font-family: "Ubuntu Mono", sans-serif;
}

.cabecera h1{
    text-align: center;
    font-size: 3em;
}

.cabecera img{
    float: left;
    width: 5%;
    margin-left: 2%;
}

.cabecera nav{
    text-align: center;
    margin-left: 7%;
}

.cabecera p{
    display: inline;
    padding: 1%;
}

.pie{
    text-align: center;
    margin-top: 2%;
}

aside {
    float: left;
    width: 10%;
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 1.2vw;
    margin-right: 1%;
}

.pie img{
    display: inline;
    width: 0.75%;
}

.pie p{
    display: inline;
}

aside li{
    padding: 10%;
    list-style-type: circle;
}

aside ul{
    margin-left: 1%;
    padding-left: 7%;
}

.pie img{
    filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(246deg) brightness(108%) contrast(106%);
}