/* Estilos para la descripción de un evento concreto*/
body{
    background-image: url("images/playstation-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;  
}
article{
    width: 88%;
    display: inline-block;
    margin-right: 1%;
}

article p{
    display: inline;
    text-emphasis: bold;
    font-size: 0.8em;
    font-family:"Press Start 2P", sans-serif;
    line-height: 25px;
}

article div{
    float: right;
    width: 15%;
    margin-left: 0.5%;
}

article header{
    font-family: "DotGothic16", sans-serif;
}

#santa-monica-logo{
    width: 100%;
    margin-top: 15%;
}

#naughty-dog-logo{
    width: 80%;
}

aside a{
    text-decoration: none;
    color: white;
}

aside img{
    margin-top: 5%;
    width: 20%;
}