.tag{
    background-color: #c80138;
    display: inline;
    border-radius: 40px;
    padding: 0.5%;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.tag a{
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

#tags{
    margin-top: 2%;
    margin-bottom: 1.5%;
}