/* Estilos para los eventos de la portada*/
body{
    background-image: url("../images/main-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header img:hover{
    transform: scale(1.1);
}

.evento{
    width: 30%;
    text-align: center;
    padding: 1%;
    display: inline-block;
    margin-bottom: 2%;
}

.evento img{
    margin-bottom: 0%;
    width: 70%;
    height: 70%;
}

.evento img:hover{
    transform: scale(1.2);
}

.eventsGrid{
    width: 89%;
    display: inline-block;
}

.evento a{
    color: white;
    text-decoration: solid;
}

#PlayStation{
    filter: invert(11%) sepia(84%) saturate(7489%) hue-rotate(242deg) brightness(53%) contrast(134%);
}

#Xbox{
    filter: brightness(0) saturate(100%) invert(19%) sepia(42%) saturate(4512%) hue-rotate(101deg) brightness(98%) contrast(105%);
}

.pie{
    margin-top: 0%;
}