#commentSection{
    visibility: hidden;
    display: none;
}

#showButton{
    visibility: hidden;
    display: none;
}

aside{
    visibility: hidden;
}

.cabecera nav{
    visibility: hidden;
}

.cabecera img{
    float:right;
}

article{
    width: 100%;
    display: inline-block;
}

article p{
    display: inline;
    font-size: 1;
}

article div{
    float: right;
    width: 15%;
    margin-left: 0.5%;
}

article h1{
    text-align: center;
}

article h2{
    text-align: center;
}

#santa-monica-logo{
    width: 100%;
    margin-top: 15%;
}

#naughty-dog-logo{
    width: 80%;
}

#industries-logo{
    width: 80%;
}

#obsidian-logo{
    width: 90%;
    margin-top: 15%;
}

.pie img{
    filter: none;
}


